<div class="container">
  <div class="jumbotron">
    <h2>美得美简介</h2>
    <p></p>
    <p>
        宁夏学得美教育成立于2014年10月17，注册资本为235万，公司立志于提高宁夏本地学生的学业水平，开发出适合宁夏本地学生学习的产品，公司在未成立之前，已经在宁夏中考，宁夏高考上做了大量的研究工作，并试验一些学生，让学生在短时间取得非常好的成绩，公司主要推出的产品有：MZ中高考数学解决宁夏本地学生中高考中数学上不去的问题，KDS中考解决宁夏本地初三学生中考不能取得高分的问题，公司将秉承“创造大快乐，才有大收获，创造了小快乐，只有小收获，创造了痛苦，只能一无所获”的理念去开展我们的事业。
    </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">了解我们的课程</a></p>
  </div>
</div>
