<div class="index-logo">
  index logo here
</div>
<div class="index-logo">
  introduction here 
</div>
<div class="index-logo">
  contact info 
</div>
<div class="index-logo">
  consult links here
</div>
<div class="index-logo">
  message post area
</div>
