// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
.well{
  background-image: url(image-path('reflections2.jpg')); 
  margin: -21px 0 0 0;
}

.index-title{
  font-size: 4em;
}

.index-subtitle{
  font-size: 2em;
}

.index-logo{
  //background-image: url(image-path('reflections12.jpg')); 
  //height: 400px;
}

.index-band{
  //background-color: #999;
  height: 300px;
  padding-top: 50px;
}

.index-info{
  padding: 0;
  margin: 0 -20px 0 -20px;
  border-top: 2px sold gray;
  border-top: 10px solid rgba(255,255,255,.4);
  border-bottom: 10px solid rgba(255,255,255,.4);
}

.index-intro{
  border-bottom: 2px solid orange;
  margin: 0;
}

.index-commitment{
}
.intro-teachers{
  display: inline-block;
}

.intro-teachers{
  .ma{
    margin-right: 20px;
  }
}

.intro-teachers > .highlight{
  margin-top: -35px;
}

.brief{
  margin-top: 35px;
}

.commitment{
  padding-left: 0;
}

.contact{
  padding-right: 0;
}

.colored-gray{
  //background-color: gray
}
.colored-black{
  //background-color: #ccc;
  height: 120px;
  margin: 10px 0px 0 0 ;
  padding: 35px 0 0 65px;
}

.colored-white{
  //background-color: #cccccc;
  height: 120px;
  margin: 10px 0 0 0px;
  padding: 25px 0 0 65px;
}

.intro-teachers-pics{
  display: inline-block;
}

.intro-teachers-pics > img{
  border-radius: 50px;
}

.intro-score{
  text-align: center;
  padding: 0 10px 0 10px;
}

.intro-score-text{
  height: 175px;
  padding-top: 2px;
  background-color: orange;
  border-radius: 90px;
}

.inline{
  display: inline-block;
}

.index-exhib{
  //background-image: url(image-path('reflections2.jpg'));
  padding: 100px 0 100px 0;
  border-radius: 0px;
}

.form-group .width-full{
  width: 100%;
}
